*{
    padding: 5px;
    outline: 0;
}


.first {
    display: flex;
    color: #1E1E1E;
    align-items: center;
    justify-content: center;
}
.first-class {
    text-align: center;
    align-items: center;

}
.pra {
    text-align: justify;
    opacity: .75;
}
.btn-primary {
    padding: 10px;
    float: left;
  background-color: brown;
  color: white;
}
.head{
    font-size: 2rem;
    text-align: justify;
}